<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32034">
        <setting label="30024" id="live_play_type" type="enum" default="0" lvalues="30026|30020|30012"/>
        <setting label="30014" id="show_hero_contents" type="bool" default="true"/>
        <setting label="30013" type="action" action="RunPlugin(plugin://$ID/?_=select_profile)" enable="eq(2,true)"/>
        <setting label="32025" type="action" action="RunPlugin(plugin://$ID/?_=logout)" enable="eq(1,true)"/>
        <setting id="_logged_in" type="bool" visible="false" default="false"/>
    </category>
    
    <category label="32035">
        <setting label="32023" type="bool" id="use_ia_hls" default="true"/>
        <setting label="32018" type="action" action="RunPlugin(plugin://$ID/?_=_ia_settings)" option="close" />
        <setting label="32021" type="action" action="RunPlugin(plugin://$ID/?_=_ia_install)" visible="false"/>
    </category>

    <category label="32036">
        <setting label="32037" id="verify_ssl" type="bool" default="true"/>
        <setting label="32039" id="service_delay" type="number" default="0"/>
        <setting label="32019" type="action" action="RunPlugin(plugin://$ID/?_=_reset)"/>
        <setting id="_fresh" type="bool" visible="false" default="true"/>
    </category>
</settings>